* text=auto

core/lib/*.h linguist-documentation
core/lib/*.cc linguist-documentation
core/lib/*.i linguist-documentation

front/static/lib/*.js linguist-documentation
front/static/lib/*.css linguist-documentation