* text=auto

main/lib/webview.h linguist-documentation
main/lib/webview_mingw_support.h linguist-documentation
main/lib/httplib.h linguist-documentation
main/lib/webview.cc linguist-documentation
main/lib/webview_test.cc linguist-documentation