* text=auto

main/lib/*.h linguist-documentation
main/lib/*.cc linguist-documentation
main/lib/*.i linguist-documentation

main/front/static/js/*.js linguist-documentation
main/front/static/css/*.css linguist-documentation