#modal,
#modal1,
#modal2,
#modal3,
#modal4,
#modal5,
#modal6,
#modal7,
#modal8,
#modal9,
#modal10,
#modal11,
#modal12,
#modal13,
#modal14,
#modal15,
#modal16,
#modal17  {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 170px;
  overflow-y: hidden; 
  overflow-x: hidden;
  background-color: #141618;
}
