<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    {{template "header.pug" .}}
    <h1>{{.Title}}</h1>
    <p>{{.Body}}</p>
</body>
<script>
    let sss = {{.Body}};
</script>
</html>