<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Panel with Undo/Redo</title>
    <script src="/static/lib/jquery-3.6.4.min.js"></script>    
    <script src="/static/lib/interact.min.js"></script>
    <script src="/static/lib/codemirror.min.js"></script>
    <script src="/static/lib/javascript.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/modal.css">
    <link rel="stylesheet" href="/static/lib/codemirror.min.css">
    <link rel="stylesheet" href="/static/css/style_code.css">
    <style id="style_ful"></style>
</head>
<body>
    <div class="menu_top">
        <button onclick="openModal('modal1')" class="button_menu_top">Create block</button>
        <button onclick="open_file()" class="button_menu_top">Project open</button>
        <button onclick="save_file()" class="button_menu_top">Project save</button>
        <button onclick="compilete_prg()" class="button_menu_top">compilete_prg</button>
        <button onclick="open_page_class()" class="button_menu_top">Class</button>
        <button onclick="open_page_code()" class="button_menu_top">Code</button>
        <button onclick="open_page_main()" class="button_menu_top">Main</button>
        <div class="tex_center">
            <p onclick="start()" class="float_lef">Start</p>
            <p onclick="stop()" class="float_lef">Stop</p>
        </div>
    </div>
    <div class="menu">
        <div class="menu_menu">
            <button onclick="open_page_code_tree(1)" class="button_menu_menu">Tree</button>
            <button onclick="open_page_code_tree(0)" class="button_menu_menu">Code</button>
        </div>
        <div id="tree"></div>
        <div id="code_tree">
            <br><br>
            <input class="input_tilem_tree" placeholder="Name" id="name_code" type="text">
            <br>
            <button class="button_tree_d" onclick="save_page_code()">Save</button>
            <button class="button_tree_d" onclick="clean_page_code()">Clean up</button>
            <br><br><br>
            <div id="lll">

            </div>
        </div>
    </div>
    <div class="console">
        <div id="console_t"></div>
        <div class="consoel_info">
            <div class="padding">
                <p class="sector">Index code page: <span id="code_select"></span></p>
            </div>
        </div>
    </div>
    <div class="inspector">
        {{template "inspector.pug" .}}
    </div>

    <div id="panel"></div>

    <div id="code_page">
        <textarea id="textarea"></textarea>
    </div>
    <div id="class">
        <br>
        <input class="input_tilem_tree" placeholder="Name" id="name_style" type="text">
        <button class="style_apdata" onclick="render_style_ful()">Update</button>
        <br><br>
        <div id="style_render"></div>
    </div>

    {{template "modal.pug" .}}

    <script src="/static/js/start.js"></script>
    <script src="/static/js/func.js"></script>
    <script src="/static/js/panel.js"></script>
    <script src="/static/js/block.js"></script>
    <script src="/static/js/keyboard.js"></script>
    <script src="/static/js/mause.js"></script>
    <script src="/static/js/instector.js"></script>
    <script src="/static/js/server/post.js"></script>
    <script src="/static/js/page/code.js"></script>
    <script src="/static/js/page/style.js"></script>
    <script src="/static/js/editor.js"></script>
    <script src="/static/js/world.js"></script>
    <script src="/static/js/server/func_server.js"></script>
</body>
</html>